<p>rx works!</p>

<div>
    <button (click)="testRx()">测试RxJS</button>

</div>

<div>
    <button (click)="testRx2()">测试RxJS 简写模式</button>
</div>

<div> <button (click)="testRx3()">测试RxJS 简写模式2</button></div>

<div> <button (click)="testRx4()">不同的创建器</button></div>

<div> <button (click)="testRx5()">测试 FromEvent</button></div>

<div> <button (click)="testRx6()">测试 Timer</button></div>
<div> <button (click)="testRx7()">测试 interval </button></div>
<div> <button (click)="testRx8()">测试 Defer </button></div>
<div> <button (click)="testRx9()">测试 随机数生成 </button></div>