<p>rx works!</p>

<div>
    <button (click)="testRx()">测试RxJS</button>

</div>

<div>
    <button (click)="testRx2()">测试RxJS 简写模式</button>
</div>

<div> <button (click)="testRx3()">测试RxJS 简写模式2</button></div>

<div> <button (click)="testRx4()">不同的创建器</button></div>

<div> <button (click)="testRx5()">测试 FromEvent</button></div>

<div> <button (click)="testRx6()">测试 Timer</button></div>
<div> <button (click)="testRx7()">测试 interval </button></div>
<div> <button (click)="testRx8()">测试 Defer </button></div>
<div> <button (click)="testRx9()">测试 随机数生成 </button></div>

<p> 各类操作符 </p>
<div> <button (click)="testMap()">测试 map 操作符 </button></div>
<div> <button (click)="testTap()">测试 tap 操作符 </button></div>
<div> <button (click)="testFilter()">测试 Filter 操作符 </button></div>
<div> <button (click)="testRetry()">测试 Retry 操作符 </button></div>
<div> <button (click)="testCMZ()">测试 concat merge zip 操作符 </button></div>

<p> 高阶映射操作符 </p>
<div> <button (click)="testConcatMap()">测试 concatMap 操作符 </button></div>
<div> <button (click)="testMergeMap()">测试 mergeMap 操作符 </button></div>
<div> <button (click)="testSwitchMap()">测试 switchMap 操作符 </button></div>
<div> <button (click)="testExhaustMap()">测试 exhaustMap 操作符 </button></div>

<p> 冷热模式 </p>
<div> <button (click)="testColdFlow()">测试 冷流</button></div>
<div> <button (click)="testHotFlow()">测试 热流 </button></div>